# ОС
.DS_Store
Thumbs.db

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.history/

# Node.js (на будущее, если понадобится)
node_modules/
.npm
.eslintcache
.stylelintcache

# Сборщики (если будешь использовать)
dist/
build/
.cache/

# Логи
*.log
npm-debug.log*
yarn-error.log*

# Переменные окружения
.env
.env.local